# IDE project files

.cache
.classpath
.externalToolBuilders
.history
.idea/
.metadata
.project
.settings/
.target
*.iml
*.ipr
*.iws
target/**
out/**
project/target/**
project/project/target/**
.idea_modules
.idea
